/ View page to display the user's picture
<!-  Corresponding Method name: displayphoto Controller Name: home_controller.rb -->
/ Displaying the User's picture
%h1= @user.id
%p
  %strong Email Id:
  = @user.email
  %br/
  %strong Created Date:
  = @user.created_at
  %br/
  = image_tag @user.photo.url
  /
    Not in Use
    <haml:loud> image_tag @user.photo.url(:thumb) </haml:loud>
%hr/